:root {
  --q-main: #ffffff;
  --q-sub: #9e9e9e;
}
.text-main {
  color: var(--q-main) !important;
}

.bg-main {
  background: var(--q-main) !important;
}

.text-sub {
  color: var(--q-sub) !important;
}

.bg-sub {
  background: var(--q-sub) !important;
}
